html,
body {
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	margin: 0;
	padding: 0;
}
/* containers */
.mag-cart-container {
	display: flex;
	align-items: center;
}

.treat-container {
	display: flex;
}

.container {
	display: grid;
	grid-template-areas:
		"mobile-nav"
		"main-cat"
		"main-content"
		"treats"
		"hifive-cat"
		"pet-approved";
}

/* Grid Children */

.main-section {
	margin-bottom: 3rem;
	grid-area: main-content;
}

.main-cat {
	grid-area: main-cat;
}

.highfive-cat {
	grid-area: hifive-cat;
}

.treats-section {
	grid-area: treats;
}

.pet-approved-section {
	grid-area: pet-approved;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 8rem;
}

.mobile-navigation-section {
	display: flex;
	align-items: center;
	background: #fff;
	justify-content: space-between;
	padding: 0 10px;
	grid-area: mobile-nav;
}

/* misc styles */
.pet-approved {
	margin-bottom: 7rem;
}

.pet-approved > div {
	padding: 1rem 10px 1rem 10px;
}

.treats {
	width: 100%;
	background: #e6e7e8;
	text-align: center;
	padding: 1rem 0 1rem 0;
}

.treats-contents {
	text-align: center;
}

.treats > h3 {
	margin-bottom: -3rem;
}

.main {
	display: flex;
	justify-content: left;
}

article {
	margin-top: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.article {
	width: fit-content;
	text-align: left;
	margin: 0 auto;
}

.information {
	text-align: justify;
}

.information-ul {
	width: 23rem;
	text-align: left;
}

.spec-p {
	margin: -15px 0 -15px 0;
}

/* icons */
#menu-icon {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	height: 5px;
	width: 30px;
}

#menu-icon,
.cart,
.mag,
#title {
	cursor: pointer;
}

.mag {
	margin-right: 2.5rem;
}

/* text */
.fa-check > p {
	max-width: 22ch;
	margin-left: 0.5rem;
	font-size: 0.9rem;
}

.heading {
	letter-spacing: 1px;
}

.pet-approved > div > h1 {
	font-size: 20px;
}

.sub-heading {
	margin-right: 8.5rem;
}

#next {
	margin-bottom: -2rem;
}

.fas > p {
	display: inline-block;
}

#title {
	margin-left: 3rem;
	width: 6ch;
	font-weight: lighter;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: large;
}

h1 {
	font-size: 35px;
}

p {
	letter-spacing: 2px;
	color: gray;
	max-width: 50ch;
}

.treats > p {
	margin-top: 4rem;
	max-width: unset;
	color: rgb(32, 32, 32);
}

li.p {
	max-width: 20ch;
}

.bold {
	color: #000;
}

/* images */
img {
	width: 100%;
	margin: 0;
	padding: 0;
}

/* inputs */
#claim-offer {
	border: none;
	color: #fff;
	padding: 1rem;
	background: #dc886b;
	width: 100%;
	letter-spacing: 1px;
	word-spacing: 2px;
	font-weight: bolder;
	font-size: 1em;
	cursor: pointer;
	position: fixed;
	bottom: 0;
}

#claim-offer:hover {
	transition: all 0.3s;
	background: hsl(15, 47%, 59%);
}

/* images */
.treat-bag-2 {
	display: none;
}

/* breakpoints */
@media only screen and (min-width: 800px) {
	.container {
		width: 50%;
		grid-template-columns: 1fr 1fr;
		grid-template:
			[row1-start] "main-content main-cat"
			[row2-start] "treats treats"
			[row2-start] "hifive-cat pet-approved";
	}

	.btn-container {
		text-align: center;
	}

	#claim-offer {
		position: relative;
		margin-top: 3rem;
		width: 90%;
	}

	.treat-bag-2 {
		display: initial;
	}

	.mobile-navigation-section {
		display: none;
	}

	img {
		width: fit-content;
	}

	.pet-approved-section {
		margin-bottom: none;
	}

	.main-cat {
		margin-bottom: 3rem;
	}

	ul > li > p {
		min-width: 57ch;
	}

	.main-section {
		margin-top: 3rem;
	}

	.treat-bag-1 {
		margin-left: 16rem;
	}
}
